{% extends 'base.html.twig' %}

{% block stylescheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/admin.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/admin.js') }}"></script>
{% endblock %}

{% block header_navigation_links %}
    <li>
        <a href="{{ path('admin_post_index') }}">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'menu.post_list'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('blog_index') }}">
            <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.back_to_blog'|trans }}
        </a>
    </li>
{% endblock %}